#{extends 'admin.html'  /}
<script type="text/javascript" src="@{'public/javascripts/user/jquery.wysiwyg.min.js'}"></script>
<script type="text/javascript">
$(document).ready(function(){
	
	/* setup navigation, content boxes, etc... */
	Administry.setup();
	
	// html textbox editor
	$('.wysiwyg').wysiwyg({
		controls: {
			strikeThrough : { visible : true },
			underline     : { visible : true },

			justifyLeft   : { visible : true },
			justifyCenter : { visible : true },
			justifyRight  : { visible : true },
			justifyFull   : { visible : true },

			indent  : { visible : true },
			outdent : { visible : true },

			subscript   : { visible : true },
			superscript : { visible : true },

			undo : { visible : true },
			redo : { visible : true },

			insertOrderedList    : { visible : true },
			insertUnorderedList  : { visible : true },
			insertHorizontalRule : { visible : true },

			h4: {
				  visible: true,
				  className: 'h4',
				  command: $.browser.msie ? 'formatBlock' : 'heading',
				  arguments: [$.browser.msie ? '<h4>' : 'h4'],
				  tags: ['h4'],
				  tooltip: 'Header 4'
			},
			h5: {
				  visible: true,
				  className: 'h5',
				  command: $.browser.msie ? 'formatBlock' : 'heading',
				  arguments: [$.browser.msie ? '<h5>' : 'h5'],
				  tags: ['h5'],
				  tooltip: 'Header 5'
			},
			h6: {
				  visible: true,
				  className: 'h6',
				  command: $.browser.msie ? 'formatBlock' : 'heading',
				  arguments: [$.browser.msie ? '<h6>' : 'h6'],
				  tags: ['h6'],
				  tooltip: 'Header 6'
			},

			cut   : { visible : true },
			copy  : { visible : true },
			paste : { visible : true },
			html  : { visible: true }
		}
	}); 
	
	// date input fallback check
	Administry.dateInput('#datepick'); 

});
</script>

<h3>Upload Article</h3>
<div class="box box-info">You can Upload the File here</div>
#{ form @moderator.postarticle() }

<fieldset>
		<legend>Text fields</legend>
		<p>
			<label for="title">Article Title:</label><br/>
			<input type="text"   value="" name="title"/>
		</p>
		<p>
			<label for="articleType">Article Type:</label><br/>
			<select id="select" name="articleType">
										<option value="">Select One</option>
										<option value="education">Education</option>
										<option value="entertainment">Entertainment</option>
										<option value="travel">Travel</option>
										<option value="cultural">Cultural</option>
										<option value="sports">Sports</option>
										<option value="technology">Technology</option>
										<option value="project">Projects</option>
										<option value="others">Other Departments</option>
			</select>	
		</p>
		<p>
			<label for="departmentName">Article Department:</label><br/>
			<select id="select" name="departmentName">
										<option value="">Select One</option>
										<option value="computer">Computer Science</option>
										<option value="electricle">Electricle</option>
										<option value="communication">Communication</option>
										<option value="biotechnology">Bio Technology</option>
										<option value="mechanical">Mechanical</option>
										<option value="civil">Civil</option>
										<option value="chemistry">Chemistry</option>
										<option value="physics">Physics</option>
										<option value="mathematics">Mathematics</option>
										<option value="others">Other Departments</option>
			</select>	
		</p>
			<label for="categoryName">Article Category:</label><br/>
			<input type="text"   value="" name="categoryName"/>		 					
			<p>Example:If you compose an article about WEB 2.0 then your Category is Computer Science or even it can be as Information Technology.</p>	
		<p>
			<label for="tagName">Related Tags:</label><br/>
			<input type="text" id="datepick" class="" value="" name="tagName"/>
		</p>
		
		
		<p>
			<form method='POST' enctype='multipart/form-data' action='fup.cgi'>
								<br>			
                                <label for="articleContent" class="form-label">Upload Your Article Here<small></small></label></br>
                                <div class="form-input"><input type="file" id="file" name="articleContent" /></div>
								</br>
			</form>
		</p>
		
		<p>
			<label for="enabled">Option:</label><br/>
			<select id="select" name="enabled">
										<option value="">Select One</option>
										<option value="0">To Drafts</option>
										<option value="1">To Publish</option>
			</select>	
		</p>			
		<p>
		<p>
			<label for="author"></label><br/>
			<input type="hidden"  class="" value="Admin" name="author"/>
		</p>
		
		<input type="submit" name="submit" value="Submit"  />
		<input type="reset" name="reset" value="Reset" />
		

</fieldset>
#{/form}	
