#{extends 'main.html' /}
 #{set pagetitle:'E-Magazine' /}
		    <div id="container">
            	<h1>
				<small>Please enter your Register Number and Mail-Id with which you have registered!!!</small></h1>
				<div class="widget">
				</div>
				<div id="contact_form">
                	<div id="response"></div>
                	#{form @application.passworscomform()}
                		                	    <div>
                	    	<label >Registe No</label>
                	        <div class="input">
                	        	<input type="text" id="registerNo"  value="${flash.name}" name="registerNo" maxlength="30" />
								<span class="color">#{error 'registerNo' /}</span>
                	        </div>
                	    </div>
						<div>
                	    	<label>Mail-Id</label>
                	        <div class="input">
                	        	<input type="text" id="mailid" value="${flash.mailId}"name="mailId" maxlength="50" />
								<span class="color">#{error 'mailId' /}</span>
                	        </div>
                    	</div>
						<p>
						&nbsp
						</p>
                    	<div class="submit">
                   			<div class="button">
                            	<input type="submit" id="submit" name="submit" value="Submit" />
							 </div>
							 <div>
							 &nbsp
							 </div>
							 <div class="button">
								<input type="reset" id="submit" name="submit" value="reset" />
							 </div><div>&nbsp&nbsp&nbsp&nbsp</div>
							 
                   		</div>
                   		
						<div class="submit">
                   			<div class="button">
                        
						     </div>
                   		</div>
						
						
            		#{/form}
                </div>
            </div>
            
       