#{extends 'main.html' /}
 #{set pagetitle:'Log-in' /}
		    <div id="container">
            	<h1>Login Page 
				<p>
				</p>
				<small>Please enter your Register Number and password to login else you can sign-up <a href="@{application.signup}">here<a>.</small></h1>
				<div class="widget">
				</div>
				<div id="contact_form">
                	<div id="response"></div>
                	#{form @application.authentication()}
                		                	    <div>
                	    	<label >Registe No</label>
                	        <div class="input">
                	        	<input type="text" id="registerNo"  value="${flash.name}" name="registerNo" maxlength="30" />
								<span class="color">#{error 'registerNo' /}</span>
                	        </div>
                	    </div>
						<div>
                	    	<label>Password</label>
                	        <div class="input">
                	        	<input type="password" id="password" value="${flash.password}"name="password" maxlength="50" />
								<span class="color">#{error 'password' /}</span>
                	        </div>
                    	</div>
						<p>
						&nbsp
						</p>
                    	<div class="submit">
                   			<div class="button">
                            	<input type="submit" id="submit" name="submit" value="Login" />
							 </div>
							 <div>
							 &nbsp
							 </div>
							 <div class="button">
								<input type="reset" id="submit" name="submit" value="reset" />
							 </div><div>&nbsp&nbsp&nbsp&nbsp</div>
							 <div><a href="@{application.forgetpassword}">Forget Password?</a></div>
                   		</div>
                   		
						<div class="submit">
                   			<div class="button">
                        
						     </div>
                   		</div>
						
						
            		#{/form}
                </div>
            </div>
            
       